
@{
    ViewData["Title"] = "Sobre";
}

<h2 display="4">O BancoDosPets</h2> <br />
    <p><h4>
    é uma ideia que nasceu de uma comunidade do facebook para ajudar os animais que foram resgatados por
    alguém e estão em risco de vida. Muitas vezes essas pessoas tem mais vontade de ajudar do que dinheiro no bolso.
    A ideia é que o BancoDosPets seja uma gigantesca vaquinha em que vc escolhe uma causa e contribui.

    Seria legal se pontos promocionais que você ganha dinheiro fossem direcionados pra cá, mas isso fica para os
    próximos capítulos...
</h4></p>
    <div class="row">
        <div class="col-xs-6 col-md-9">
            <a href="#" class="thumbnail">
                <img src="~/images/2.jpg" align="left" />
            </a>
        </div>

        

